.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.mySwiper2 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active{
    opacity: 1;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.swiper-button-next, .swiper-button-prev{
    color: black;
}